<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.polyvi.xface.extension.device-capability"
    version="0.0.1">
    <name>Device-capability</name>
    <description>xFace Device Capability Plugin</description>
    <license>Apache 2.0</license>
    <keywords>xface device capability</keywords>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="Device">
                <param name="ios-package" value="CDVDevice"/>
            </feature>
        </config-file>

        <source-file src="src/ios/CDVDevice+XDevice.m" />
        <framework src="CoreLocation.framework" />
        <framework src="CoreMotion.framework" />

        <js-module src="www/device-capability.js" name="device">
            <merges target="device" />
        </js-module>
    </platform>

    <!-- android -->
    <platform name="android">
        <config-file target="config.xml" parent="/*">
            <feature name="DeviceCapability">
                <param name="android-package" value="com.polyvi.xface.extension.devicecapability.XDeviceCapabilityExt"/>
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.READ_PHONE_STATE" />
        </config-file>

        <source-file src="src/android/XDeviceCapabilityExt.java" target-dir="src/com/polyvi/xface/extension/devicecapability"/>

        <js-module src="www/android/device-capability.js" name="device">
            <merges target="device" />
        </js-module>
    </platform>

    <dependency id="org.apache.cordova.device"/>

</plugin>
